.header {
    padding: 10px;
    background-color: #EEE;
    color: #444;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    display: flex;
    flex-direction: row;
}
