.header {
    padding: 10px;
    background-color: #EEE;
    color: #444;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
