.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 15px;
}

.layout p {
    padding: 10px;
    font-size: 1.3rem;
    text-align: justify;
}

.layout input {
    border-radius: 5px;
    border: none;
    background-color: #EEE;

    display: inline-block;
    padding: 3px;
    width: 300px;

    font-size: 20px;
}

.layout input:active { outline: 2px solid #EEE; }
