.navbutton a {
    color: #EEE;
    background-color: #444;
    
    width: 60px;
    text-align: center;
    padding: 4px 10px;
    margin: 0px 5px;

    border-radius: 3px;
    border: 1px solid #444;

    transition: all ease-in-out 0.1s;
}

.navbutton a:hover {
    color: #444;
    background-color: #EEE;
}

.navbutton a:active { background-color: #777; }
