.coral {
    background-color: lightcoral;
    border-radius: 5px;
}

.table {
    border: 1px solid #EEE;
    border-radius: 5px;

    padding: 5px;
    margin: 10px;
    font-size: 1.3rem;
}

.table td{
    text-align: justify;
    padding: 3px 7px;
}

